#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.app-container {
    display: flex;
    height: 100vh;
}

.left_navbar {
    background-color: #e7e8eb;
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
}

.logo_container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    width: 35%;
}

.app_name {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu_buttons_block {
    margin-top: 5rem;
    width: 100%;
}

.menu_button {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 40px;
    transition: background-color 0.5s ease;
    display: flex;
    cursor: pointer;
}

.menu_button:hover {
    background-color: #d6eeff;
}

.selected_menu_button {
    background-color: #c6e7ff;
}

.menu_button_text {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.8rem;
}

.menu_button_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content_area {
    width: 85%;
    padding: 1rem;
    overflow-y: auto;
}
