.title {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.add-goal-button {
    display: flex;
    align-items: left;
    margin-top: 1.5vw;
}

.add-goal-button .btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    font-size: 16px;
}

.display-type-buttons-transaction {
    display: flex;
    justify-content: center;
}

.display-type-buttons-container-transaction {
    background-color: #edeef2;
    border-radius: 20px;
}

.btn-display-type-transaction {
    background-color: #edeef2;
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    font-weight: normal;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.btn-display-type-transaction:hover {
    background-color: #e0e1e6;
}

.btn-display-type-selected-transaction {
    background-color: #C6E7FF;
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    font-weight: normal;
    font-size: 15px;
}

.goal-info {
    text-align: left;
}

.goal-info-name {
    display: flex;
}

.goal-info-bold {
    font-weight: bold;
    margin-left: 0.5vw;
}

.goal-info-category {
    display: flex;
}

.goal-info-delete {
    color: red;
    cursor: pointer;
}

.btn-delete {
    background-color: #ff6961;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.goal-card {
    background: #E7E8EB;
    border-radius: 1vw;
    height: auto;
    width: 18vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    text-align: left;
    box-shadow: 1px 5px 10px lightgrey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goal-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.goal-card-content {
    padding: 1vw;
}

.goal-card-icon {
    float: right;
    margin-right: 1vw;
    font-size: 1.5vw;
}

.goal-card-content-header {
    font-size: 1vw;
    font-weight: bold;
}

.goal-card-content-text {
    font-size: 0.7vw;
    margin-bottom: 0.5vw;
}

.goal-card-amount {
    font-weight: bold;
}

.goal-card-progress-background {
    background: grey;
    height: 0.3vw;
    margin-right: 1.5vw;
    border-radius: 1vw;
}

.goal-card-progress {
    background: #00658b;
    height: 0.3vw;
    border-radius: 1vw;
}

.goal-card-status-done {
    color: green;
}

.goal-card-status-close {
    color: red;
}

.goal-card-due {
    float: right;
    margin-right: 1vw;
}
